/* Hier roep ik het font aan van google fonts die daarnaast in index.html aangeroepen wordt.  */
@font-face {
  font-family: "Jersey 15";
  src: url("/path/to/font-file.woff2") format("woff2");
}

* {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Ik gebruik !important lines zodat het bootstrap overschrijft. */

/* Elementen */

a {
  font-size: 1.3rem !important;
  text-transform: uppercase;
}

p {
  font-size: 1.3rem !important;
}


h1 {
  color: black !important;
  font-size: 2.5rem !important;
}

html,
body {
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

/* Klasses */

.nav-link active {
  color: #ffffff !important;
}

.logo {
  margin-left: 1rem;
}

.links {
  margin-right: 1rem;
}

.navbar-nav .nav-item {
  margin-right: 2rem;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar {
  background-color: #ffffff !important;
}

.content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.content-wrapper h1,
.content-wrapper p {
  flex: 1;
}
.content-wrapper img {
  max-width: 100%;
  height: auto;
  flex: 1;
}

/* Hier zorg ik ervoor dat de website smooth werkt op mobiel door de items onder elkaar te zetten d.m.v flex-direction: column; */

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
  .content-wrapper h1,
  .content-wrapper p {
    text-align: center;
    margin-bottom: 1rem;
  }
}
